---
import Layout from "../components/layout.astro"
import { SITE_TITLE } from "../global-consts"
import FormattedDate from "../components/formatted-date.astro"
import { type CollectionEntry, getCollection } from "astro:content"
import { render } from "astro:content"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post
  }))
}
type Props = CollectionEntry<"blog">

const post = Astro.props
const { title, description, pubDate, updatedDate } = post.data
const { Content } = await render(post)

const issueTitle = `${title} Article Issue: YOUR ISSUE HERE`
const issueBody = `What kind of Issue?

- Select: Typo, Broken Link, Fact Check, Other

**Description:**

- Description Here

**Proposed Fix:**

- Proposed Fix Here`

const issueURL = `https://github.com/Torvec/blog/issues/new?title=${encodeURIComponent(issueTitle)}&body=${encodeURIComponent(issueBody)}`
---

<Layout title={title + " | " + SITE_TITLE} description={description}>
  <article class="pb-8">
    <div class="mb-12 space-y-1">
      <h1 class="font-medium">{title}</h1>
      <div class="flex justify-between text-xs uppercase opacity-75">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Updated: <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>
    <div class="prose prose-sm md:prose-base">
      <Content />
    </div>
  </article>
  <div class="flex justify-between py-4 text-muted">
    <a href="/" class="transition-color duration-300 ease-in-out hover:text-accent">&lt; Back</a>
    <a
      href={issueURL}
      target="_blank"
      rel="external noopener noreferrer"
      class="transition-color duration-300 ease-in-out hover:text-accent">Issues?</a
    >
  </div>
</Layout>
