---
import Layout from "../components/layout.astro"
import { SITE_TITLE } from "../consts"
import FormattedDate from "../components/formatted-date.astro"
import { type CollectionEntry, getCollection } from "astro:content"
import { render } from "astro:content"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post
  }))
}
type Props = CollectionEntry<"blog">

const post = Astro.props
const { title, description, pubDate, updatedDate } = post.data
const { Content } = await render(post)
---

<Layout title={title + " | " + SITE_TITLE} description={description}>
  <article class="pb-8">
    <div class="mb-12 space-y-1">
      <h1 transition:name={`${post.data.pubDate} header`} class="font-medium">{title}</h1>
      <div class="flex justify-between text-xs uppercase opacity-75">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Updated: <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>
    <div class="prose">
      <Content />
    </div>
  </article>
  <div class="py-4">
    <a href="/" class="transition-color duration-300 ease-in-out hover:text-accent text-muted">&lt; Back</a>
  </div>
</Layout>
