---
import Layout from "../components/layout.astro"
import { SITE_TITLE, SITE_DESCRIPTION, SITE_INTRO } from "../global-consts"
import { getCollection } from "astro:content"
import FormattedDate from "../components/formatted-date.astro"

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

const pagePathname = Astro.url.pathname
---

<Layout title={"Blog | " + SITE_TITLE} description={SITE_DESCRIPTION} pathname={pagePathname}>
  <p class="mb-12 text-sm">{SITE_INTRO}</p>
  <ul class="space-y-6">
    {
      posts.map((post) => (
        <li class="flex flex-col items-baseline md:flex-row">
          <span class="block text-xs uppercase opacity-75 md:w-1/6">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a
            href={`/${post.id}/`}
            class="transition-color block duration-300 ease-in-out hover:text-accent md:w-5/6"
          >
            <h3 transition:name={`${post.data.pubDate} header`} class="text-pretty font-medium">
              {post.data.title}
            </h3>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
